@font-face {
  font-family: "iconfont"; /* Project id 4306259 */
  src: url('iconfont.woff2?t=1709522557068') format('woff2'),
       url('iconfont.woff?t=1709522557068') format('woff'),
       url('iconfont.ttf?t=1709522557068') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tongdian:before {
  content: "\e63b";
}

.icon-tingdian-:before {
  content: "\e60f";
}

.icon-baojingqueren:before {
  content: "\e71e";
}

.icon-dengpao:before {
  content: "\e60e";
}

.icon-lixian:before {
  content: "\e616";
}

.icon-bianyaqi:before {
  content: "\e746";
}

.icon-colors:before {
  content: "\e838";
}

.icon-sun:before {
  content: "\f2d7";
}

.icon-moon:before {
  content: "\e8b1";
}

